<?xml version="1.0"?>
<launch>

	<arg name="fixed_frame" 	default="/map"/>
	<arg name="use_rviz"		default="true"/>


	<node name="one_agent_node" pkg="topological_nav" type="one_agent_node" args="-fixed_frame $(arg fixed_frame) -rate 100" output="screen"/>

	<!-- rviz launch -->
	<group if="$(arg use_rviz)">
  		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find topological_nav)/launch/rviz_config/one_agents.rviz"/>
	</group>

</launch>
